In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier

In [2]:
# 1.获取数据集
data = pd.read_csv('./data/train.csv')

In [3]:
data.head()

   row_id       x       y  accuracy    time    place_id
0       0  0.7941  9.0809        54  470702  8523065625
1       1  5.9567  4.7968        13  186555  1757726713
2       2  8.3078  7.0407        74  322648  1137537235
3       3  7.3665  2.5165        65  704587  6567393236
4       4  4.0961  1.1307        31  472130  7440663949

In [4]:
data.describe()

,row_id,x,y,accuracy,time,place_id
count,2.911802e+07,2.911802e+07,2.911802e+07,2.911802e+07,2.911802e+07,2.911802e+07
mean,1.455901e+07,4.999770e+00,5.001814e+00,8.284912e+01,4.170104e+05,5.493787e+09
std,8.405649e+06,2.857601e+00,2.887505e+00,1.147518e+02,2.311761e+05,2.611088e+09
min,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000016e+09
25%,7.279505e+06,2.534700e+00,2.496700e+00,2.700000e+01,2.030570e+05,3.222911e+09
50%,1.455901e+07,5.009100e+00,4.988300e+00,6.200000e+01,4.339220e+05,5.518573e+09
75%,2.183852e+07,7.461400e+00,7.510300e+00,7.500000e+01,6.204910e+05,7.764307e+09
max,2.911802e+07,1.000000e+01,1.000000e+01,1.033000e+03,7.862390e+05,9.999932e+09

In [5]:
data.shape

(29118021, 6)

In [8]:



# 2.3 去掉签到较少的地⽅
# 2.4 确定特征值和⽬标值
# 2.5 分割数据集
# 3.特征⼯程 -- 特征预处理(标准化)
# 4.机器学习 -- knn+cv
# 5.模型评估

In [13]:
# 2.基本数据处理
# 2.1 缩⼩数据范围
partial_data = data.query('x > 2.0 & x < 2.5 & y > 2.0 & y < 2.5')

In [14]:
partial_data.head()

      row_id       x       y  accuracy    time    place_id
163      163  2.1663  2.3755        84  669737  3869813743
310      310  2.3695  2.2034         3  234719  2636621520
658      658  2.3236  2.1768        66  502343  7877745055
1368    1368  2.2613  2.3392        73  319822  9775192577
1627    1627  2.3331  2.0011        66  595084  6731326909

In [15]:
partial_data.shape

(71664, 6)

In [27]:
# 2.2 选择时间特征
partial_data['time'] = pd.to_datetime(partial_data['time'], unit = 's')
partial_data.head()

C:\Users\ghdong\AppData\Local\Temp\ipykernel_21788\3829032978.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  partial_data['time'] = pd.to_datetime(partial_data['time'], unit='s')

,row_id,x,y,accuracy,time,place_id
163,163,2.1663,2.3755,84,1970-01-01 00:00:00.000669737,3869813743
310,310,2.3695,2.2034,3,1970-01-01 00:00:00.000234719,2636621520
658,658,2.3236,2.1768,66,1970-01-01 00:00:00.000502343,7877745055
1368,1368,2.2613,2.3392,73,1970-01-01 00:00:00.000319822,9775192577
1627,1627,2.3331,2.0011,66,1970-01-01 00:00:00.000595084,6731326909

In [20]:
time = pd.to_datetime(partial_data['time'], unit='s')

In [21]:
time.head()

163    1970-01-01 00:00:00.000669737
310    1970-01-01 00:00:00.000234719
658    1970-01-01 00:00:00.000502343
1368   1970-01-01 00:00:00.000319822
1627   1970-01-01 00:00:00.000595084
Name: time, dtype: datetime64[ns]